version: '3.8'

services:
  gateway:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SOULVAN_RPC_URL=${SOULVAN_RPC_URL:-http://host.docker.internal:8332}
      - SOULVAN_RPC_USER=${SOULVAN_RPC_USER:-bitcoinrpc}
      - SOULVAN_RPC_PASS=${SOULVAN_RPC_PASS:-rpcpass}
      - SOULVAN_TON_ADDRESS=${SOULVAN_TON_ADDRESS:-}
      - SOULVAN_FEE_ADDRESS=${SOULVAN_FEE_ADDRESS:-}
      - SOULVAN_API_KEY=${SOULVAN_API_KEY:-}
      - GATEWAY_PORT=8080
      - STATS_POLL_INTERVAL=${STATS_POLL_INTERVAL:-5}
      - ALLOW_MUTATING_BLOCKCHAIN_RPC=${ALLOW_MUTATING_BLOCKCHAIN_RPC:-false}
    restart: unless-stopped
